# =================================================================
# .gitignore для C++/CMake проекта
# =================================================================

# Папки для сборки и вывода
# Это самое важное! Никогда не добавляйте их в репозиторий.
build/
out/

# Выходные файлы, которые генерирует ваша программа
# НЕ ИСПОЛЬЗУЙТЕ *.json, иначе вы случайно удалите config.json!
output.json
out.json
nkaeci.json

# Библиотеки и исполняемые файлы
*.a
*.lib
*.so
*.dll
*.exe

# Объектные файлы и файлы зависимостей
*.o
*.obj
*.d

# Файлы IDE и редакторов
# VS Code
.vscode/

# Visual Studio
.vs/
*.VC.db
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

# CLion
.idea/

# Файлы бэкапов и логов
*.log
*.tmp
*.bak
*~

*.obs